<div id="searchBox">
	<input #searchBox id="search-box" placeholder="{{searchBoxText}}" />
	<!--<ul class="search-result">
	<li *ngFor="let hero of heroes$ | async" >
	  <a routerLink="/detail/{{hero.id}}">
	    resultado
	  </a>
	</li>
	</ul>-->
	</div>
<div id="moviesBox">
	<h4 class="titleMenu">{{moviesTitle}}</h4>
	<div class="divMenu">
		<div class="row">
			<div class="column" *ngFor="let movie of movieListTop">
				<img src="{{movie.poster_path}}" alt="{{movie.title}}" class="tile">
			</div>
		</div>
	</div>
</div>
<div id="tvBox">
	<h4 class="titleMenu">{{tvTitle}}</h4>
	<div class="divMenu">
		<div class="row">
			<div class="column" *ngFor="let tvShow of tvShowListTop">
				<img src="{{tvShow.poster_path}}" alt="{{tvShow.title}}" class="tile">
			</div>
		</div>
	</div>
</div>

